.site-header {
  padding: 34px 0;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: block;
}

.logo__img {
  width: 130px;
  height: 28px;
  display: block;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.site-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-right: auto;
}

.site-nav__item {
  margin-left: 20px;
  margin-right: 20px;
}

.site-nav__item:first-child {
  margin-left: 57px;
  margin-right: 0;
}

.site-nav__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.site-header__select-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.site-header__select-item {
  margin-left: 20px;
}

/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #FF6336;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.site-header__select-wrapper {
  position: relative;
  display: flex;
  width: 5em;
  height: 2em;
  line-height: 2;
  background-color: #527190;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.site-header__select-wrapper::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.2em;
  background: #ad9683;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s all ease;
}

/* Transition */
.site-header__select-wrapper:hover::after {
  color: #FF6336;
}

.site-header__select-option {
  font-size: 15px;
}