.case {
  background-color: #C9E8F2;
  padding-top: 120px;
  padding-bottom: 120px;
}

.case-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.case-left {
  width: 100%;
  max-width: 870px;
}

.case-text {
  margin: 0;
  margin-bottom: 25px;
  text-align: left;
  font-size: 30px;
  line-height: 40px;
}

.case-job-text {
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
}

.case-job-name {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #000;
}

.case-img {
  display: block;
  width: 310px;
  height: 310px;
}